

div#signup_page input#user_password_confirmation{
  width: 300px;
  height: 35px;
  border: none;
  border-bottom: 1px solid gray;
}

div.actions input{
  width: 300px;
  height: 35px;
}

div#signup_page a{
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}
